/* Backgrounds for each section of the page */

/*.hero {
  background-image: url("/assets/mm_logo.png");
  background-size: 75% auto;
  text-align: center;
  color: white;
  padding-top: 75px
}*/

/* Miscellaneous */


/*.soldier-old {
background-image: url("/assets/soldier_with_girl.jpg");
height: 500px;
}*/

.soldier {
/*background: url("/assets/soldier_with_girl_full_2.jpeg") no-repeat center center;*/
background-image: url("/assets/soldier_with_girl_full_2.jpeg");
background-size: cover;
height: 500px;
}

.round-image {
  border-radius: 50%;
}


.spotlight-image {
  width: 100px;
}

.user-image {
  width: 50px;
}

.title-grey {
  background-color: rgb(230, 230, 230);
}

/* My standard vertical spacing classes */

.padding-inside-top-xs {
  padding-top: 10px;
}

.padding-inside-top-sm {
  padding-top: 20px;
}

.padding-inside-top-md {
  padding-top: 50px;
}

.padding-inside-top-lg {
  padding-top: 150px;
}

.padding-inside-top-xl {
  padding-top: 200px;
}

.padding-inside-bottom-xs {
  padding-bottom: 10px;
}

.padding-inside-bottom-sm {
  padding-bottom: 20px;
}

.padding-inside-bottom-md {
  padding-bottom: 50px;
}

.padding-inside-bottom-lg {
  padding-bottom: 70px;
}

.padding-inside-bottom-xl {
  padding-bottom: 120px;
}


.padding-inside-left-sm {
  padding-left: 20px;
}

.padding-inside-left-md {
  padding-left: 40px;
}

.padding-inside-left-lg {
  padding-left: 100px;
}

.margin-above-top-xs {
  margin-top: 10px;
}

.margin-above-top-sm {
  margin-top: 20px;
}

.margin-above-top-md {
  margin-top: 50px;
}

.margin-above-top-lg {
  margin-top: 150px;
}

.margin-below-bottom-xs {
  margin-bottom: 10px;
}

.margin-below-bottom-sm {
  margin-bottom: 20px;
}

.margin-below-bottom-md {
  margin-bottom: 50px;
}

.margin-below-bottom-lg {
  margin-bottom: 150px;
}

.margin-below-bottom-xl {
  margin-bottom: 200px;
}
