

<div class="container-fluid">
<!--
  <div class="row soldier col-md-12">
    <p>Mind</p>
    <p>Matters</p>
  </div> -->


<div class="row soldier">
<h1 class="text-left padding-inside-top-md padding-inside-left-md" style="font-size: 110px" ><b>MIND</b></h1>
<h1 class="text-left padding-inside-top-xs padding-inside-left-lg" style="font-size: 110px"><b>MATTERS</b></h1>
</div>

<!-- Former header: The puzzle piece and nice logo -->
  <!-- <div class="row col-md-12">

    <div class="col-md-8 padding-inside-top-sm">
    <img src="/assets/mm_logo_2.png" height="375px"/>
    </div>

    <div class="col-md-4 padding-inside-top-sm">
    <img src="/assets/puzzle_piece.jpg" height="375px" />
    </div>
  </div>
</div> -->

  <div class="row text-center">

    <div class="col-md-offset-1 col-md-10 text-center padding-inside-top-sm">
      <!-- ENTER IMAGE of MM LOGO on left and Puzzle piece on right -->
      <!-- <h1>Mind Matters</h1> -->
      <h2>The telemental health platform for veterans.</h2>
    </div>
  </div>


<hr>

  <div class="row text-center title-grey">
    <div class="col-xs-10 col-md-offset-1">
      <h4><b>Our Mission</b></h4>
    </div>
  </div>

  <div class="row text-center padding-inside-top-md">
    <div class="col-xs-10 col-md-offset-1">
      <p style="font-size: 20px">
        Mind Matters seeks to improve the quality of life for U.S. veterans by providing convenient, culturally competent mental health services.  We envision a nation where our former service members can easily find and receive the support they need to lead healthier, happier lives.
      </p>
    </div>
  </div>

<hr>

  <hr>

  <div class="row text-center title-grey">
    <div class="col-xs-12">
      <h4><b>Our Vision</b></h4>
    </div>
  </div>

  <div class="row text-center">
      <div class="col-xs-12">

        <div class="row padding-inside-top-md">

          <div class="col-md-3 text-center">
            <img src="http://scinotions.com/wp-content/uploads/2015/12/Evolution-Of-Light-Bulb-featured.jpg" height="135px">

            <!-- COMPETENCE BLOCK -->
            <h4 class="padding-inside-top-sm">
              Competence
            </h4>

            <p style="font-size: 18px">
            Therapists complete comprehensive training modules on military culture and veteran issues.
            </p>
          </div>

          <!-- CONVENIENCE BLOCK -->
          <div class="col-md-3 text-center">
            <img src="http://il3.picdn.net/shutterstock/videos/10782506/thumb/12.jpg?i10c=img.resize(height:160)" height="135px">

            <h4 class="padding-inside-top-sm">
              Convenience
            </h4>

            <p style="font-size: 18px">
            You can easily schedule and do your therapy appointments online. Even from your favorite couch.
            </p>
          </div>

          <!-- CHOICE BLOCK -->
          <div class="col-md-3 text-center">
            <img src="https://cdn2.hubspot.net/hub/75217/file-990752202-jpg/images/decision.jpg" height="135px">

            <h4 class="padding-inside-top-sm">
              Choice
            </h4>

            <p style="font-size: 18px">
              With a range of qualified therapists, YOU pick the one that's right for you.
            </p>
          </div>

          <!-- CONFIDENTIALITY BLOCK -->
          <div class="col-md-3 text-center">
            <img src="http://www.linkmedia360.com/wp-content/uploads/2014/08/SSL-HTTPS-Secure-Site-Ranking-Boost2.jpg" height="135px">

            <h4 class="padding-inside-top-sm">
              Confidentiality
            </h4>

            <p style="font-size: 18px">
              Don't want to bump into that one person in the waiting room? Don't worry. You won't.
            </p>
          </div>
        </div>

        <hr>

        <div class="row text-center title-grey">
          <div class="col-xs-8 col-md-offset-2">
            <h4><b>Our Team</b></h4>
          </div>
        </div>


          <div class="row text-center padding-inside-top-md">
            <div class="col-md-4">
              <img src="https://media.licdn.com/mpr/mpr/shrinknp_200_200/AAEAAQAAAAAAAAJ3AAAAJGQ4NTA5OWE2LWI4MzMtNGE1ZS04MDI4LTRjNmZhMjJjMjgyMA.jpg" class="round-image" height="150px">

              <h4 class="padding-inside-top-sm">
                Alyse Athans
              </h4>

              <p style="font-size: 18px">
                CEO & Interim CFO
              </p>

        <a href="https://www.linkedin.com/in/alyse-athans-38a0276"><i class="fa fa-linkedin-square" style="font-size: 28px" aria-hidden="true"></i>
        </a>


            </div>

            <div class="col-md-4">
              <img src="https://media.licdn.com/mpr/mpr/shrink_100_100/AAEAAQAAAAAAAABdAAAAJGRiZWZjMTJkLTc5MzctNDM0NS05YjQzLWFkMDI2NTJiYTJiMw.jpg"  class="round-image" height="150px">

              <h4 class="padding-inside-top-sm">
                Steve Collins
              </h4>

              <p style="font-size: 18px">
                COO & Interim CTO
              </p>
              <a href="https://www.linkedin.com/in/scollins2"><i class="fa fa-linkedin-square" style="font-size: 28px" aria-hidden="true"></i>
              </a>
            </div>

            <div class="col-md-4">
              <img src="https://media.licdn.com/media/AAEAAQAAAAAAAATZAAAAJGQ4NmY0ODQ0LTI5YjUtNDY4NC1hZmM4LTllMWI0YWUzZjgxNA.jpg" class="round-image" height="150px">

              <h4 class="padding-inside-top-sm">
                Mike Sanchez
              </h4>

              <p style="font-size: 18px">
                Summer Associate
              </p>
              <a href="https://www.linkedin.com/in/mikesanchez2"><i class="fa fa-linkedin-square" style="font-size: 28px" aria-hidden="true"></i>
              </a>
            </div>

          </div>

    <hr>
<!--
PARTNERS SECTION -->
        <div class="row text-center title-grey">
          <div class="col-xs-12">
            <h4><b>Partners</b></h4>
          </div>
        </div>

        <div class="row text-center">
            <div class="col-xs-12">

              <div class="row padding-inside-top-md">


                <div class="col-md-3 text-center">
                  <img src="https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcQU0DmQRghtvA3SY_04Y9rHXFOWjJnfdUEoGg6iwIYLqNYJlgo9mw" height="150px">

                  <h5>
                    Polsky Summer Accelerator
                  </h5>

                  <p style="font-size: 14px">
                    <!-- TBD -->
                  </p>
                </div>

            <!-- National Science Foundation-->
                <div class="col-md-3 text-center">
                  <img src="http://www.nsf.gov/news/mmg/media/images/icorps_f.jpg" height="150px">

                  <h5>
                    National Science Foundation
                  </h5>

                  <p style="font-size: 14px">
                  <!-- TBD -->
                  </p>
                </div>

          <!-- Matter-->
                <div class="col-md-3 text-center">
                  <img src="/assets/matter.jpeg" height="130px">
                  <h5 class="padding-inside-top-sm">
                    Matter Chicago
                  </h5>

                  <p style="font-size: 14px">
              <!-- TBD -->
                  </p>
                </div>

          <!-- Social New Venture Challenge-->
                <!-- CONFIDENTIALITY BLOCK -->
                <div class="col-md-3 text-center padding-inside-top-md">
                  <img src="/assets/nvc.jpg" height="70px">

                  <h5 class="padding-inside-top-sm">
                    John Edwardson '72 Social New Venture Challenge
                  </h5>

                  <p style="font-size: 14px">
                        <!-- TBD -->
                  </p>
                </div>
              </div>

              <hr>


        <div class="row padding-inside-top-md padding-inside-bottom-md">
          <div class="col-md-12 text-center">

            <p class="padding-inside-bottom-sm"style="font-size: 20px">
              For more information, please contact us at <b>info@mind-matters.us</b>
            </p>

<!-- COPYRIGHT PLACEHOLDER -->
            <p style="font-size: 12px">
          © 2016. All rights reserved.
            </p>
          </div>
        </div>

      </div>

    </body>
    </html>
